.nav {
    margin-top: 1.5em;
    display: flex;
    flex-direction: row;
}

.nav .spacer {
    flex: 1;
}

.nav .downloader {
    font-size: smaller;
    padding: 3px 6px;
    border-radius: 5px;
    color: #333;
    background-color: #f2f2f2;
    cursor: pointer;
}

.nav .downloader:hover {
    background-color: #ccc;
}

.nav .downloader .fa-solid {
    font-size: small;
    margin: 0;
    top: 0px;
}

.nav .downloader:hover .fa-solid {
    color: #565555;
}

nav {
    top: 2px;
    position: relative;
}

nav>a,
nav>span {
    font-size: small;
    text-decoration: none;
    color: #999;
}

nav>span {
    color: #333;
}

.fa-solid {
    font-size: x-small;
    color: #999;
    margin: 0 5px;
    position: relative;
}

a {
    text-decoration: none;
    font-size: small;
}

a>span {
    text-decoration: underline;
}